.bodyContainer {
  font-family: "Rubik", sans-serif;
  width: 100%;
  min-height: calc(100vh - 4rem);
  padding-inline: 1.25rem;
  background-color: var(--background);
  color: var(--text-secondary);
  transition: all 0.5s;
}

.bodyHeroSection {
  display: flex;
  gap: 4%;
}

.bodyHeroSection > div {
  flex: 1;
  width: 48%;
  display: flex;
}

.bodyHeroSectionTitleContainer {
  place-items: center;
}

.bodyDiscordComponentContainer {
  height: inherit;
}

.bodySupportedSitesSection {
  min-height: 100vh;
  margin: 2rem 0;
  text-align: center;
  color: var(--text-primary);
}

.bodySupportedSitesSection h2 {
  margin: 3rem 0;
  font-size: 2rem;
}

.supportedSitesGrid {
  display: grid;
  width: 90%;
  margin-inline: auto;
  column-gap: 5%;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
}

.supportedSitesGrid > div {
  height: 20rem;
  padding: 2rem 0;
}

.supportedSitesGrid > div > img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.supportedSitesGrid > div > p {
  font-size: 1.5rem;
}

.supportedSitesGrid > div > p > a:hover {
  text-decoration: underline;
}

.supportedSitesGrid > div > p > a {
  color: var(--text-primary);
  text-decoration: none;
}

.supportedSitesGrid > div > ul {
  list-style: none;
  padding: 0.5rem 0;
  width: 50%;
  margin-inline: auto;
}

.supportedSitesGrid > div > ul > li::before {
  content: " • ";
}

.supportedSitesGrid > div > ul > li {
  font-size: 1.25rem;
  padding: 0.25rem 0;
}

.bodyFAQSection {

}